body{
    display:flex;
    flex-direction: column;
    margin: 0px;
}

/*HEADER SECTION*/
.header{
    flex: 2;
    background-color: #1F2937;
    padding: 0px 200px 20px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.top-header ul{
    list-style: none;
    display: flex;
    margin:0px;
    padding:0px;
    gap : 20px;
}
.top-header ul li, .bottom-left-header p{
    font-size: 18px;
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links{
    display: flex;
    margin-right:auto;
}

.bottom-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;    
}

h1{
    font-size:48px;
    color: #F9FAF8;
    font-weight: 900;
    margin:0px;
}

/*END OF HEADER SECTION */

/*TOP MID SECTION*/
.top-mid-section{
    flex:2;
    padding: 0px 200px 20px;
    display: flex;
    flex-direction: column;
}
h3{
    flex:1;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-self: center;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
}

.project-container{
    width: 160px;
    text-align: center;
}

.project-container img{
    height: 160px;
    width: 160px;
    border:2px solid #3882F6;
    border-radius:5px;
    
}
/*END OF MIDDLE SECTION*/

/*MID MID Section*/
.mid-mid-section{
    flex:2;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
}

.mid-mid-section p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

/*END OF MID MID SECTION*/

/*BOT MID SECTION*/ 
.modal{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 50px;
    padding: 25px;
    border-radius: 5px;
}

.modal p, .modal button{
    color:#F9FAF8;
}

.modal p{
    margin:0px;
}

.modal button{
    background-color: #3882F6;
    border-color: white;
    align-self:center;
    border-radius:5px;
}
/*END OF BOT MID SECTION*/
.footer{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #1F2937;
    padding:12px;
}

.footer p{
    color:#E5E7EB
}